.main-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  background-image: var(--btn-gradient);
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  box-shadow: var(--btn-shadow);
  text-shadow: var(--btn-text-shadow);
}

.main-btn:hover {
  background-image: var(--btn-gradient-hover);
}

.main-btn:active {
  box-shadow: var(--btn-shadow-active);
  background-image: var(--btn-gradient-active);
}

.main-btn:focus {
  outline: none;
  border: 2px solid var(--input-focus-border);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
