.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  color: inherit;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #ffffff;
}
