.header-menu {
  display: flex;
  align-items: center;
  flex: 0 1 480px;

  @media (max-width: $width-tablet+px) {
    flex: 0 1 440px;
  }

  @media (max-width: $width-mobile+px) {
    flex: 1 1 100%;
  }
}

.header-menu__toggle {
  display: none;
  font-size: 0;
  border: none;

  @media (max-width: $width-tablet+px) {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    padding: 0;
    outline: none;
    border: none;
    width: 24px;
    height: 18px;
    box-shadow: 0 0 2px 0 black;
  }
}
