.catalog {
  @media (min-width: $width-tablet+px) {
    padding: 30px 0;
  }
}

.catalog__container {
  position: relative;
}

.catalog-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  min-height: 200px;
  color: var(--basic-black);
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background: #eaeaea8a;
  border-radius: 10px;
  list-style: none;
  transition: all 0.7s ease;
  box-shadow: var(--shadow);
  position: relative;

  &::-webkit-scrollbar {
    height: 12px;
    background: #e3a62c;
    background: linear-gradient(to bottom right, #ffaa00, #ffdc68);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #a593f0;
    background: linear-gradient(to bottom right, #a593f0, #773d72);
    border-radius: 5px;
    box-shadow: inset 2px 1px 7px #843eda;
  }

  @media (min-width: $width-tablet+px) {
    scroll-padding-left: 20px;
    scroll-margin-right: 20px;
  }

  @media (min-width: $width-desktop+px) {
    min-height: auto;
    display: grid;
    justify-content: center;
    column-gap: 41px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    box-shadow: none;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &::after {
    width: 100%;
    text-align: center;
    font-size: 24px;
    content: "😒 check filter";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $width-desktop+px) {
      content: "";
    }
  }
}

.catalog-item {
  scroll-snap-align: center;
  flex: 0 0 auto;
  border-radius: 15px;
  overflow: hidden;
  z-index: -1;
  display: none;

  &:hover {
    box-shadow: var(--catalog-item-shadow);

    .catalog-item__hover-menu {
      pointer-events: visible;
      z-index: 5;
      bottom: 0;
      opacity: 1;
      max-height: 100%;
      overflow-y: auto;
      visibility: visible;
    }

    .catalog-item__img img {
      transform: scale(1.03);
    }
  }

  &.active {
    display: block;
    opacity: 1;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
    animation: slit-in-vertical 0.45s ease-in-out 0s;
  }

  @media (min-width: $width-tablet+px) {
    flex: 0 0 45%;
    scroll-snap-align: start;
  }

  @media (min-width: $width-desktop+px) {
    flex: initial;
  }
}

.catalog-item__img {
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  position: relative;

  img {
    transition: all 0.5s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.catalog-item__hover-menu {
  pointer-events: none;
  visibility: hidden;
  background: var(--basic-gray);
  position: absolute;
  opacity: 0;
  bottom: -50%;
  left: 0;
  right: 0;
  z-index: -1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  overflow: hidden;
  text-align: center;

  transition: all 0.5s ease 0s;
  box-shadow: 0 -11px 11px 0 var(--opacity-black);

  @media (max-width: $width-tablet+px) {
    z-index: 5;
    bottom: 0;
  }
}

.catalog-item__title-link {
  display: block;
  text-decoration: none;
  color: var(--basic-black);
  padding: 0 15px;
  position: relative;
  margin: 0 0 12px;

  &:hover {
    color: var(--link-hover-color);
  }

  &:active {
    color: var(--link-push-color);
  }
}

.catalog-item__title {
  text-align: center;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;

  @media (min-width: $width-tablet+px) {
    font-size: 18px;
  }
}

.catalog-item__desc {
  margin-bottom: 12px;
  flex: 1 1 auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--basic-black);
  text-align: justify;

  @media (min-width: $width-tablet+px) {
    margin: 0 0 32px;
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-item__btn {
  cursor: pointer;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);
  min-height: 32px;
  padding: 5px;
  font-size: 12px;
  line-height: 14px;

  @media (min-width: $width-desktop+px) {
    font-size: 16px;
    line-height: 18px;
  }
}
.catalog-item__btn-link {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  fill: black;
  width: 30px;
  height: 30px;
  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      svg {
        opacity: 0.8;
      }
    }
  }
}
.catalog-item__repo-link {
}

.catalog-item__site-link {
  margin-right: 10px;
}
