.promo {
  padding: 20px 0;
  min-height: 325px;
  height: calc(100vh - 187px);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;

  @media (max-height: 600px) {
    height: auto;
  }

  @media (min-width: $width-tablet+px) and (max-height: 650px) {
    height: auto;
  }
}

.promo__promo-text {
  position: relative;
  user-select: none;

  @media (min-width: $width-tablet+px) {
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 100%;
      top: 0;
      left: -8%;
      background: black;
    }
  }
}

.promo__container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  position: relative;
  // align-items: center;
  align-content: center;
  justify-items: center;
  gap: 24px;

  @media (min-width: $width-tablet+px) {
    grid-template-columns: 2fr 1fr;
    gap: 0;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    &:hover {
      .promo__text {
        text-decoration-color: #62d0df;
        text-underline-offset: 0.4em;
      }
    }
  }
}

.promo__img {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
  box-shadow: var(--shadow);
  pointer-events: none;
}

.promo__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  z-index: 1;
  cursor: default;

  @media (min-width: $width-tablet+px) {
    max-width: 350px;
  }
}

.promo__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
  cursor: default;
}

.promo__rotate-wrap {
  position: relative;
  z-index: 1;
  background: transparent;
  display: flex;
  align-self: center;
}

input[name="profile"] {
  &:checked {
    + .promo__btn {
      box-shadow: 0 0 3px 0;
      color: #ffffff;
      background: #000;
      span {
        transform: rotate(135deg);
      }
    }

    ~ .rotate {
      transform: rotateX(180deg);
    }
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    + .promo__btn {
      box-shadow: 0 0 3px 0, 0 0 0 3px #000;
    }
  }
}

.promo__btn {
  cursor: pointer;
  z-index: 5;
  width: 48px;
  height: 48px;
  background: #ffffff;
  color: #000000;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease 0s;

  span {
    transition: transform 0.3s ease-in-out 0s;
    display: inline-block;
    font-size: 30px;
  }

  @media (min-width: $width-tablet+px) {
    &:hover {
      box-shadow: 0 0 10px 0;
    }
  }

  @media (min-width: $width-desktop+px) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.promo__contact {
  transform: rotateX(180deg);
  backface-visibility: hidden;

  transition: all 0.5s ease-in 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, #897ded, #dbd2fa);
  box-shadow: 0 0 10px 0 var(--opacity-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .contacts__list {
    flex-direction: column;
  }

  .contacts__link {
    filter: brightness(0.5);

    &:hover,
    &:active {
      filter: brightness(1);
    }
  }
}

.rotate {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease 0s;
  z-index: 2;
  width: 250px;
  height: 250px;
  border-radius: 50%;

  @media (min-width: $width-tablet+px) {
    width: 350px;
    height: 350px;
  }
}
