$min-width: 320;
$max-width: 1300;
$width-desktop: 1300;
$width-tablet: 767.98;
$width-mobile: 374.98;

.container {
  min-width: $min-width + px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $width-mobile+px) {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 100%;
  }

  @media (min-width: $width-tablet+px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $width-desktop+px) {
    max-width: $max-width + px;
  }
}

.container-fluid {
  min-width: 320px;
  max-width: 100%;
}
