.page {
  @media (prefers-color-scheme: light) {
    background: #13c0fb;
  }

  @media (prefers-color-scheme: dark) {
    background: #3a94a3;
    background: #3a94a3 url("../img/decor-img-2.svg") no-repeat;
    background-position: right top;
    background-size: contain;
  }
  &.lock {
    overflow: hidden;
  }
}

.main-title {
  font-size: clamp(20px, 3vw, 36px);
  color: #0b236f;
  line-height: clamp(24px, 3vw, 40px);
  text-align: center;
  margin-bottom: 12px;
}
